////////////////////////
// Header

.ul-nav {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.li-logo {
  margin-right: auto;
  
}

.li-user-nav {
  font-family: Roboto, sans-serif; 
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;  
  padding: 2rem;
  text-decoration: none;
  text-decoration-line: none;
  
 
}

.a {
  text-decoration-line: unset;
  text-decoration-line: none;
}

.logo-box {
  display: flex;
  // justify-content: flex-start;
  align-items: center;

}

.logo {
  // height: 3.25rem;
  width: 50%;
  margin-left: 2.5rem;  
}

.nav-spacer-right {
  padding-right: 4rem;
}

// End Header
////////////////////////////